{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!--  bootstrap link  -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- font links -->

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
        <!-- This is the main css used for the base -->
        <link rel="stylesheet" href="{% static "styling/cssBase.css" %}"> 
        <!-- For buttons -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <title>{{title|title}}</title>
    </head>
    <body>
        <header>
            <div class="navbar navbar-expand-lg">
                <div class="nameName">
                    <h1>Simon Tekeste</h1>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"><img class="controlmenu" src="/static/imgs/menu.png"></button>
                    <div class="dropdown-content">
                        <a href="/" class="navBtn">Home</a>
                        <a href="/about/" class="navBtn">About</a>
                        <a href="/contact/" class="navBtn">Contact</a>
                    </div>
                </div>
                <div class="linkList">
                    <a href= "/" class="navBtn">Home</a>
                    <a href= "/about/" class="navBtn">About</a>
                    <a href= "/contact/" class="navBtn">Contact</a>
                </div>
            </div>
        </header>
       {%block content%}
       {%endblock%}
        <footer>
          
        </footer>
        <script src="{% static "javascript/index.js" %}"></script>
    </body>
</html>