{% extends "base.html" %}
{% load static%}
{% block content %}
<body style="background:linear-gradient(to left, #45ef, #3bbbab)">
    <div class="ContactPage">
        <h3 style="color: white">Thank you for checking out my page. Lets connect!</h3>
        <p class="showNumber"></p>
        <div class="ContactHolder">
            <a href="https://github.com/simonsaysfollow" target="blank"><img src="/static/imgs/github-sign (1).png" style="width:150px;height:150px;" </a>
            <a href="mailto:st.tekeste@gmail.com"><img src="/static/imgs/mail-black-envelope-symbol.png" style="width:150px;height:150px;" </a>
            <a href="/static/SimonTekeste.pdf" download><img src="/static/imgs/down-arrow.png" style="width:150px;height:150px;" </a>
            {% comment %} <a href="#" onclick="showNumber()"><img src="/static/imgs/phone-call.png"style="width:150px;height:150px;"</a> {% endcomment %}
            <a href="https://www.linkedin.com/in/simon-tekeste-472867109/" target="blank"><img src="/static/imgs/linkedin-logo.png" style="width:150px;height:150px;" </a>
        </div>
    </div>
</body>
{% endblock %}