
header {
    background-color: white;
    position: sticky;
    z-index: 3;
}
.navbar{
    position: static;

}
 
.nav {
    align-items: baseline;
}

.nameName{
    left: 0;
}

.linkList {
    position: absolute;
    right: 0;
}

.navBtn {
    color: black;
    margin-right: 45px; 
    font-size: 14pt;
}

.summary {
    background: linear-gradient(to left, #3bbbab, #45ef);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 130px;
}

.homePage {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: url(/static/imgs/sf_life2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
   
}



.jobTitle {
    position: absolute;
    right: 100px;
    bottom: 50px;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 100px;
}


.faceImg {
    padding: 10px;
    justify-self: center;
    border-radius: 50%;
    width: 200px;
    height: 200px; 

}

.linkImg {
    position: absolute;
    top: 200px;
    left: 200px;
   
}

.contactImg{
    text-align: center;
    width: 80px;
    height: 80px;
}

.aboutPage { 
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    
}


.dropEdu > h3 { 
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.gridDrop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px;
    justify-items: center;
    align-items: center;
    justify-self: center;
}


.dropProj {
    margin-top: 25px; 
    
}

.dropProj > h3 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.projFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}


.bio {
    text-align: center;
}


.bio > p {
    margin-top: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16pt;
    color: white;
}

.schoolLogos {
    width: 250px;
    height: 250px;
   
    
}
.ucsb, .peralta, .kickstart {
    text-align: center;
    height: 150px;  
}

.project-hr {
    width: 75%;
    margin: 0 auto; 
    border-top: 1px solid turquoise;
    margin-bottom: 50px;
    
    
}
.proj1 {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 1fr; 
    height: 300px;
    margin-bottom: 80px;
}    

.left {
    margin-right:70px;
    
}
.right {
    margin-left: 70px;    
}


.ImageDescription {
   text-align: center;
    
}
.ImageDescription > p {
   margin-top: 10px;
   text-align: center;
    
}

.hr-command {
    border: none;
    border-top: 1px solid lightgrey;
    width: 50%;
    text-align:center; 
    margin: 0 auto; 
    
}

.ImagePro {
    text-align: center;
}
.imghover {
    width:500px;
    height:300px;
}

.imghover:hover {
    transform: scale(1.1);
    transition: all 1s ease;
    filter: brightness(80%)  
}

.dinder {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ContactPage {
    text-align: center;

   
}
.ContactHolder {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    justify-self: center;
    grid-gap: 10px;
}

.first {
    height: auto;
}

.dropbtn {
  /* background-color: #4CAF50; */
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 10px;
  border: none;
}

.dropdown {
  position: absolute;
  display: none;
  right: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



@media screen and (max-width: 800px) {
    .jobTitle {
        position: absolute;
        right: 20px;
        bottom: 100px;
        font-family: 'Baloo Bhaijaan', cursive;
        font-size: 50px;

    }

    .homePage {  
        min-width: 100%;
        min-height: 100%;
        background-size:cover;
        background-position:center;
        background: url(/static/imgs/sf_life2.jpg);
        background-repeat: no-repeat;
    }

    .controlmenu {
       height: 25px;
       width: 25px;
    }


    .dropdown {
        display: block;
        right: 0;
    }
    .linkList {
        display: none;
    }
    .dropdown-content {
        position: relative;
    }

    .ContactHolder {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        grid-gap: 10px;

    }

    .gridDrop{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 100px;
    
    }

    .ucsbSchool {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100px;
        justify-items: center;
        align-items: center;
        justify-self: center;
    }

    .kickstartSchool {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100px;
        justify-items: center;
        align-items: center;
        justify-self: center;
    }

    .proj1 {
        display: grid;
        grid-template-columns: 100%; 
        grid-template-rows: 1fr; 
        height: 300px;
        /* margin-bottom: 80px; */
    }  
    .summary {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;

    }

    .display1,.display2 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 235px;

    }
    .imghover{
        width:400px;
        height:300px;
        grid-column: 1;
        grid-row: 1;
    }
  

    .display1 > .ImageDescription {
        margin-top: 15px;
    }

    .ImageDescription {
        justify-self: center;
        grid-column: 1;
        grid-row: 2;
    }

    .left {
        margin-right:0px;
    }
    
    .right {
        margin-left: 0px;    
    }

    
}

