
header {
    background-color: white;
    position: sticky;
    z-index: 3;
}
 

.nav {
    position: absolute;
    right: 20px;
    margin-top: 10px;
}
.navBtn {
    color: black;
    margin-right: 45px; 
    font-size: 14pt;
}

h1 {
    position: sticky;
    margin-top: 25px;
    margin-left: 100px;  
}

.homePage {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: url(/static/imgs/sf_life2.jpg);
    background-repeat: no-repeat;
}



.jobTitle {
    position: absolute;
    right: 100px;
    bottom: 50px;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 100px;
}


.faceImg {
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 125px;
    width: 200px;
    height: 200px;

}

.linkImg {
    position: absolute;
    top: 200px;
    left: 200px;
   
}

.contactImg{
    margin-left: 20px;
    width: 80px;
    height: 80px;
}

.aboutPage {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    /* background:url(/static/imgs/sf_life2.jpg); */
    background-repeat: no-repeat;
    
}

.bio {
    position: relative;
    top: 41px;
    left: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 16pt;
}

.education {
     border-left: 1px solid green;
     border-bottom: 1px solid green;
}


.education > h3 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;

}

.schoolLogos {
    width: 80px;
    height: 80px;
    
}
.ucsb, .peralta, .kickstart {
    text-align: center;
    height: 150px;  
}

.proj {
    position: absolute;
    left: 100px;
    top: 285px;
    font-family: 'Fredericka the Great', cursive;
    width: 68%;
}

.projectImg {
    height:100px;
    width:100px;
}